@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&display=swap');

/* Mobile & Tablet*/
@media screen and (max-width: 800px) {
  /* Header */
  header {
    margin: 0;
    padding: 30px 5% 30px 5%;
    background-color: white;
    border-bottom: 1px solid #c2c2c2;
  }
  
  /* .container-header {
    display: flex;
    flex-direction: row;
    margin: 0px;
  } */
  
  .container-header-logo {
    /* flex-basis: 25%; */
    text-align: center;
    padding-bottom: 20px;
  }

  .container-header-navigation {
    /* flex-basis: 75%; */
    text-align: center;
  }
  
  .logo {
    display: inline;
    font-family: 'Lora', serif;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 5px;
    /* color: red; */
  }

  nav {
    display: inline;
    /* padding: 5px; */
    position: sticky;
  }
  
  nav ul {
    margin: 0px;
    padding: 0px;
  }
  
  nav ul li {
    display: inline;
    list-style-type: none;
    margin: 0px 10px;
  }
  
  nav ul li a {
    font-family: 'Lora', serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: black;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
    /* border-bottom: 2px solid black; */
  }

  /* Main */
  #introduction {
    padding: 0px 0% 0px 5%;
  }

  #about, 
  #men,
  #women {
    padding: 10px 5% 10px 5%;
  }

  h1 {
    color: black;
    font-family: 'Lora', serif;
    font-weight: 800;
    font-size: 48px;
    letter-spacing: 2px;
    margin-bottom: 100px;
  }

  h2 {
    color: black;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 2px;
  }

  /* Section Introduction */
  .container-introduction {
    flex-basis: 85%;
    vertical-align: middle;
    padding-bottom: 15px;
  }
  
  .container-introduction-left a, 
  .container-introduction-right q {
    font-family: 'Lora', serif;
    font-weight: 200;
    font-size: 14px;
    text-decoration: none;
    color: black;
  }

  .container-introduction-left a {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
  }

  .container-introduction-left a:hover {
    /* text-decoration: underline; */
    font-weight: bold;
    border-bottom: 3px solid black;
  }

  .container-introduction-right p {
    font-family: 'Lora', serif;
    font-weight: 200;
    font-size: 14px;
    text-decoration: none;
    color: #808080;
  }

  aside {
    flex-basis: 25%;
  }

  figure {
    margin: 0px;
    height: 100%;
    background-color: #223851;
  }

  .profile-picture {
    min-height: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .profile-caption {
    position: relative;
    bottom: 36px;
    left: 0px;
    padding-left: 12px;
    color: white;
    font-family: 'Lora', serif;
    font-weight: 100;
    font-size: 12px;
  }

  /* Section About */
  .container-about {
    margin: 0px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .container-about-left {
    text-align: justify;
  }

  .container-about-right {
    text-align: justify;
  }

  /* Section Men & Women */
  .product {
    min-width: 140px;
    margin-right: 20px;
  }

  .container-product {
    margin: 0px;
  }
  
  .container-product-name {
    text-align: left;
  }
  
  .container-product-price {
    text-align: left;
  }

  /* Footer */
  footer {
    margin: 0;
    padding: 10px 5% 10px 5%;
    background-color: white;
    border-top: 1px solid #c2c2c2;
    /* border-top-color: #2d2d2d;
    border-top-width: 4px; */
    text-align: center;
  }

  .credit {
    color: black;
    font-family: 'Lora', serif;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 2px;
  }
}



/* Desktop */
@media screen and (min-width: 800px) {
  /* Header */
  header {
    margin: 0;
    padding: 40px 10% 40px 10%;
    background-color: white;
    border-bottom: 1px solid #c2c2c2;
  }

  .container-header {
    display: flex;
    flex-direction: row;
    margin: 0px;
  }

  .container-header-logo {
    flex-basis: 25%;
  }

  .container-header-navigation {
    flex-basis: 50%;
  }

  .logo {
    display: inline;
    font-family: 'Lora', serif;
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 5px;
  }

  nav {
    display: inline;
    /* padding: 5px; */
    position: sticky;
    text-align: right;
  }
  
  nav li {
    display: inline;
    list-style-type: none;
    margin-left: 40px;
  }
  
  nav a {
    font-family: 'Lora', serif;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: black;
  }
  
  nav a:hover {
    text-decoration: underline;
    /* border-bottom: 2px solid black; */
  }

  /* Main */
  #introduction {
    padding: 0px 10% 0px 10%;
  }

  #about, 
  #men,
  #women {
    padding: 20px 10% 20px 10%;
  }

  h1 {
    color: black;
    font-family: 'Lora', serif;
    font-weight: 800;
    font-size: 72px;
    letter-spacing: 2px;
    margin-bottom: 150px;
  }

  h2 {
    color: black;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 2px;
  }

  /* Section Introduction */
  .container-introduction {
    flex-basis: 75%;
    vertical-align: middle;
    padding-right: 10px;
    padding-bottom: 25px;
  }
  
  .container-introduction-left a, 
  .container-introduction-right q {
    font-family: 'Lora', serif;
    font-weight: 200;
    font-size: 24px;
    text-decoration: none;
    color: black;
  }

  .container-introduction-left a {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
  }

  .container-introduction-left a:hover {
    /* text-decoration: underline; */
    font-weight: bold;
    border-bottom: 3px solid black;
  }

  .container-introduction-right p {
    font-family: 'Lora', serif;
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;
    color: #808080;
  }

  aside {
    flex-basis: 25%;
  }

  figure {
    margin: 0px;
    height: 100%;
    background-color: #223851;
  }

  .profile-picture {
    min-height: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .profile-caption {
    position: relative;
    bottom: 36px;
    left: 16px;
    color: white;
    font-family: 'Lora', serif;
    font-weight: 100;
    font-size: 18px;
  }

  /* Section About */
  .container-about {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .container-about-left {
    flex-basis: 50%;
    padding-right: 20px;
    text-align: justify;
  }

  .container-about-right {
    flex-basis: 50%;
    padding-left: 20px;
    text-align: justify;
  }

  /* Section Men & Women */
  .product {
    min-width: 320px;
    margin-right: 50px;
  }

  .container-product {
    display: flex;
    flex-direction: row;
    margin: 0px;
  }
  
  .container-product-name {
    flex-basis: 50%;
    text-align: left;
  }
  
  .container-product-price {
    flex-basis: 50%;
    text-align: right;
  }

  /* Footer */
  footer {
    margin: 0;
    padding: 20px 10% 20px 10%;
    background-color: white;
    border-top: 1px solid #c2c2c2;
    /* border-top-color: #2d2d2d;
    border-top-width: 4px; */
    text-align: center;
  }

  .credit {
    color: black;
    font-family: 'Lora', serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;
  }
}



* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

/* Header */

/* Main */
main {
  margin: 0;
  background-color: gray;
}

#introduction, #men, #women {
  background-color: white;
}

#about {
  background-color: #EBEDEE;
}

h3 {
  color: black;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* Section Introduction */
.container-introduction-left {
  flex-basis: 50%;
  vertical-align: middle;
}

.container-introduction-right {
  flex-basis: 50%;
}

/* Section About */
.hashtag {
  font-weight: 600;
  color: #223851;
}

p {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

/* Section Men & Women */
.slider-wrap {
  cursor: grab;
}

.slider {
  overflow: scroll;
}

.slider-inner {
  display: flex;
  justify-content: left;
  height: 100%;
  display: flex;
}

.product-image {
  width: 100%;
}

.product-name {
  color: black;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.product-name:hover {
  text-decoration: underline;
}

.product-price {
  color: #808080;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.progress-bar {
  bottom: -20px;
  left: 0;
  height: 3px;
  width: 100%;
  /* border-radius: 10px; */
}

.progress-bar-inner {
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  /* border-radius: 10px; */
  background-color: #223851;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slider {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Footer */
cite a {
  color: black;
  text-decoration: none;
}